name: Lint GitHub Workflows

on:
  push:
    paths:
      - '.github/workflows/**'
  pull_request:
    paths:
      - '.github/workflows/**'

permissions:
  actions: read
  contents: read
  security-events: write
  
jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false

      - name: Run actionlint
        run: |
          echo "::add-matcher::.github/actionlint-matcher.json"
          curl --output actionlint.bash https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash
          bash actionlint.bash
          ./actionlint -color
        shell: bash

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@98e1309028e24d36aa3d25913c4dcda539996605
        with:
          enable-cache: false

      - name: Run Zizmor with online checks
        run: uvx zizmor --format=sarif . > zizmor-results.sarif
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }} 

      - name: Upload Zizmor SARIF results
        uses: github/codeql-action/upload-sarif@6bc82e05fd0ea64601dd4b465378bbcf57de0314 # v4
        with:
          sarif_file: zizmor-results.sarif
          category: zizmor

      - name: Set up CodeQL
        uses: github/codeql-action/init@6bc82e05fd0ea64601dd4b465378bbcf57de0314 # v4
        with:
          languages: 'actions'
          tools: linked

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@6bc82e05fd0ea64601dd4b465378bbcf57de0314 # v4
