name: Lint GitHub Workflows

on:
  push:
    paths:
      - '.github/workflows/**'
  pull_request:
    paths:
      - '.github/workflows/**'

permissions:
  actions: read
  contents: read
  security-events: write
  
jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false

      - name: Run actionlint
        run: |
          echo "::add-matcher::.github/actionlint-matcher.json"
          curl --output actionlint.bash https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash
          bash actionlint.bash
          ./actionlint -color
        shell: bash

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@8512ad0289ad2fef937f3b232c410c597be21c44
        with:
          enable-cache: false

      - name: Run Zizmor with online checks
        run: uvx zizmor --format=sarif . > zizmor-results.sarif
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }} 

      - name: Upload Zizmor SARIF results
        uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4
        with:
          sarif_file: zizmor-results.sarif
          category: zizmor

      - name: Set up CodeQL
        uses: github/codeql-action/init@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4
        with:
          languages: 'actions'
          tools: linked

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4
