name: Lint GitHub Workflows

on:
  push:
    paths:
      - '.github/workflows/**'
  pull_request:
    paths:
      - '.github/workflows/**'

permissions:
  actions: read
  contents: read
  security-events: write
  
jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          persist-credentials: false

      - name: Run actionlint
        run: |
          echo "::add-matcher::.github/actionlint-matcher.json"
          curl --output actionlint.bash https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash
          bash actionlint.bash
          ./actionlint -color
        shell: bash

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@be7fc19b4169c26a2aa1b8a430af391f2a96b3c9
        with:
          enable-cache: false

      - name: Run Zizmor with online checks
        run: uvx zizmor --format=sarif . > zizmor-results.sarif
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }} 

      - name: Upload Zizmor SARIF results
        uses: github/codeql-action/upload-sarif@e12f0178983d466f2f6028f5cc7a6d786fd97f4b # v4
        with:
          sarif_file: zizmor-results.sarif
          category: zizmor

      - name: Set up CodeQL
        uses: github/codeql-action/init@e12f0178983d466f2f6028f5cc7a6d786fd97f4b # v4
        with:
          languages: 'actions'
          tools: linked

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@e12f0178983d466f2f6028f5cc7a6d786fd97f4b # v4
