name: Lint GitHub Workflows

on:
  push:
    paths:
      - '.github/workflows/**'
  pull_request:
    paths:
      - '.github/workflows/**'

permissions:
  actions: read
  contents: read
  security-events: write
  
jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false

      - name: Run actionlint
        run: |
          echo "::add-matcher::.github/actionlint-matcher.json"
          curl --output actionlint.bash https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash
          bash actionlint.bash
          ./actionlint -color
        shell: bash

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@64f7f4e15f752e2360b85b9ca5c819596f57d81d
        with:
          enable-cache: false

      - name: Run Zizmor with online checks
        run: uvx zizmor --format=sarif . > zizmor-results.sarif
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }} 

      - name: Upload Zizmor SARIF results
        uses: github/codeql-action/upload-sarif@fe4161a26a8629af62121b670040955b330f9af2 # v4
        with:
          sarif_file: zizmor-results.sarif
          category: zizmor

      - name: Set up CodeQL
        uses: github/codeql-action/init@fe4161a26a8629af62121b670040955b330f9af2 # v4
        with:
          languages: 'actions'
          tools: linked

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@fe4161a26a8629af62121b670040955b330f9af2 # v4
