name: Renovate

on:
  push:
    paths:
      - ".github/workflows/renovate.yml"
      - ".github/renovate.json"
    branches:
      - main
  pull_request:
    paths:
      - ".github/workflows/renovate.yml"
      - ".github/renovate.json"
    branches:
      - main
  schedule:
    - cron: "42 * * * *" # every hour at minute 42
  # Trigger manually via the GitHub UI
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write
  security-events: write

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2
        id: app-token
        with:
          app-id: ${{ vars.RENOVATE_APP_ID }}
          private-key: ${{ secrets.RENOVATE_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false

      - name: Run Renovate
        uses: renovatebot/github-action@c91a61c730fa166439cd3e2c300c041590002b1d # v44.0.3
        with:
          configurationFile: .github/config.json
          token: ${{ steps.app-token.outputs.token }}
          env-regex: "^(?:RENOVATE_\\w+|LOG_LEVEL)$"
        env:
          LOG_LEVEL: info
