name: Renovate

on:
  push:
    paths:
      - ".github/workflows/renovate.yml"
      - ".github/renovate.json"
    branches:
      - main
  pull_request:
    paths:
      - ".github/workflows/renovate.yml"
      - ".github/renovate.json"
    branches:
      - main
  schedule:
    - cron: "42 * * * *" # every hour at minute 42
  # Trigger manually via the GitHub UI
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write
  security-events: write

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2
        id: app-token
        with:
          app-id: ${{ vars.RENOVATE_APP_ID }}
          private-key: ${{ secrets.RENOVATE_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          persist-credentials: false

      - name: Run Renovate
        uses: renovatebot/github-action@03026bd55840025343414baec5d9337c5f9c7ea7 # v44.0.4
        with:
          configurationFile: .github/config.json
          token: ${{ steps.app-token.outputs.token }}
          env-regex: "^(?:RENOVATE_\\w+|LOG_LEVEL)$"
        env:
          LOG_LEVEL: info
